<%- include('../includes/header.ejs') %>
<%- include('../includes/navigation.ejs') %>
  <div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                  <div class="box-header">
                      <h3 class="box-title"><%- title %></h3>
                    </div>
                </div>
              </div>
          </div>
        <div class="row">
            <div class="col-xs-12">
              <div class="box box-info">
                <form method="POST" class="ajaxForm">
                  <div class="box-body">
                        <%- reg_form.toHTML(); %>
                    </div>
                    <div class="box-footer">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </form>
              </div>
            </div>
          </div>
    </section>
  </div>
  <%- include('../includes/scripts.ejs') %>
  <script>
   function checkboxValues(){
    let checkboxValues =  $('input[name=payout_settings]:checked').map(function(_, el) {
                return $(el).val();
            }).get();
            console.log(checkboxValues);
    if(checkboxValues.indexOf('banktransfer') > -1){
      $(".banktransfer_payout").show();
    }else{
      $(".banktransfer_payout").hide();
    }
   }
   $(document).ready(function(){
    checkboxValues();
   });
   $(document).on("click",'input[name=payout_settings]',function(){
    checkboxValues();
   })
  </script>
  <%- include('../includes/footer.ejs') %>